@model Valkimia_App.Models.ViewModels.ClienteViewModel
@{
    ViewBag.Title = "Alta de Cliente";
}

@*@model Valkimia_App.Models.Cliente
    @{
        ViewData["Title"] = "AltaCliente";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }*@



<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h3>Registro de un nuevo Cliente</h3>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            @if (TempData.ContainsKey("Mensaje"))
            {
                <div class="alert alert-info">@TempData["Mensaje"]</div>
            }
            @using (Html.BeginForm("AltaCliente", "Cliente", FormMethod.Post, new { role = "form", @class = "" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationMessage("error", new { @class = "text-danger" })
                @Html.LabelFor(d => d.Nombre)
                @Html.TextBoxFor(d => d.Nombre, new { @class = "form-control", @placeholder = "NOMBRE" })
                @Html.ValidationMessage("Nombre", new { @class = "text-danger" })<br />
                @Html.LabelFor(d => d.Apellido)
                @Html.TextBoxFor(d => d.Apellido, new { @class = "form-control", @placeholder = "APELLIDO" })
                @Html.ValidationMessage("Apellido", new { @class = "text-danger" })<br />
                @Html.LabelFor(d => d.Domicilio)
                @Html.TextBoxFor(d => d.Domicilio, new { @class = "form-control", @placeholder = "DOMICILIO" })
                @Html.ValidationMessage("Domicilio", new { @class = "text-danger" })<br />
                @Html.LabelFor(d => d.Email)
                @Html.TextBoxFor(d => d.Email, new { @class = "form-control", @placeholder = "EMAIL" })
                @Html.ValidationMessage("Email", new { @class = "text-danger" })<br />
                @Html.LabelFor(d => d.Password)
                @Html.TextBoxFor(d => d.Password, new { @class = "form-control", @placeholder = "CONTRASEÑA", @type = "password" })
                @Html.ValidationMessage("Password", new { @class = "text-danger" })<br />
                @Html.LabelFor(d => d.ConfirmaPassword)
                @Html.TextBoxFor(d => d.ConfirmaPassword, new { @class = "form-control", @placeholder = "CONTRASEÑA", @type = "password" })
                @Html.ValidationMessage("ConfirmaPassword", new { @class = "text-danger" })<br />
                @Html.LabelFor(d => d.IdCiudad)<br />
                @Html.DropDownList("IdCiudad", (IEnumerable<SelectListItem>)ViewBag.ddlCiudades)<br />

                <br />
                <br />
                <div class="form-group">
                    <input type="submit" value="Guardar" class="btn btn-primary" />
                </div>

            }
        </div>
    </div>
</div>

@*@section Scripts{
        @{
            <partial name="_ValidationScriptsPartial" />
        }
    }*@

